@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none !important;
  }
}

.b-form {
  background: #fff;
  margin: 2% auto;
  border: 1px sloid #000;
  padding: 10px;
  border-radius: 15px;
  max-width: 760px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  // box-shadow: 6px 6px 26px 0px rgba(50, 50, 50, 0.23);
    .b-form__wrapper-label {
      width: 100%;
      position: relative;
      .b-form__label {
        display: inline-block;
        text-align: right;
        // padding: 6px 4px;
        transition: all .2s ease-in-out;
      }
      .b-form__error-span {
        display: inline-block;
        color: red;
      }
      .fadeIn {
        animation: fadeIn .4s ease-in-out;
        @-webkit-keyframes fadeIn {
          0% {
            opacity: 0;
          }
          50% {
            transform: scale(1.2);
          }
          100% {
            transform: scale(1);
          }
        }
      }
      .redCard {
        animation: redCard .4s ease-in-out;
        color: #fff;
        background: red;
        // padding: 5px;
        @-webkit-keyframes redCard {
          0% {
            opacity: 0;
          }
          50% {
            // transform: scale(1.2);
          }
          100% {
            // transform: scale(1);
          }
        }
      }
      .rotate {
        animation: rotate .4s ease-in-out;
        color: red;
        padding: 5px;
        @-webkit-keyframes rotate {
          0% {
            opacity: 0;
          }
          50% {
            transform: rotate(4deg);
          }
          100% {
            transform: rotate(-2deg);
          }
        }
      }
      .slide {
        opacity: 0;
        animation: slide .4s ease-in-out;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both;
        color: red;
        padding: 5px;
        transform: translateX(50%);
        @-webkit-keyframes slide {
          0% {
            opacity: 0;
          }
          50% {
            // transform: translateX(-100px);

          }
          100% {
            transform: translateX(0);
            // opacity: 1;
            opacity: 1;

          }
        }
      }
    }
    .fadeIn {
      .b-form__label {
        transform: scale(.7);
        opacity: 0;
        position: absolute;
      }
    }
    .redCard {
      .b-form__label {
        transform: scale(.7);
        opacity: 0;
        position: absolute;
      }
    }
    .rotate {
      .b-form__label {
        transform: scale(.7);
        opacity: 0;
        position: absolute;
      }
    }
    .slide {
      .b-form__label {
        transform: translateX(-250px);
        opacity: 0;
        position: absolute;
        // right: 0;
      }
    }
    .b-form__input {
      display: block;
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      font-size: 14px;
      &:focus {
        border-bottom: 1px solid;
      }
    }
    .b-form__error {
      display: block;
      position: absolute;
      text-align: right;
      padding: 5px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 3px;
      z-index: 1;
      top: 30px;
      right: 10px;
      color: red;
    }
    .error_border {
      border-bottom: 1px solid red;
    }


  .b-form__button {
    height: 60px;
    width: 280px;
    background: #fff;
    border: 2px solid #edebeb;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    float: right;
  }
}
