@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none !important;
  }
}

.b-form {
  background: #fff;
  margin: 2% auto;
  border: 1px sloid #000;
  padding: 10px;
  border-radius: 15px;
  max-width: 760px;
  overflow: hidden;
  // box-shadow: 6px 6px 26px 0px rgba(50, 50, 50, 0.23);
  .b-form__block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    min-height: 60px;
    justify-content: space-between;
    .b-form__wrapper-label {
      .b-form__label {
        width: 80%;
        text-align: right;
        padding: 6px 4px;
      }
      .b-form__error-span {
        color: red;
      }
    }
    .b-form__input {
      padding-left: 10px;
      width: 100%;
      max-width: 450px;
      margin-left: 32px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      font-size: 14px;
      padding: 6px 4px;
      &:focus {
        border-bottom: 1px solid;
      }
    }
    .b-form__error {
      display: block;
      position: absolute;
      text-align: right;
      padding: 5px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 3px;
      z-index: 1;
      top: 30px;
      right: 10px;
      color: red;
    }
    .error_border {
      border-bottom: 1px solid red;
    }
  }
  .b-form__button {
    height: 60px;
    width: 280px;
    background: #fff;
    border: 2px solid #edebeb;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    float: right;
  }
}
