@mixin transition($time){
  -webkit-transition: all $time ease;
  -moz-transition:    all $time ease;
  -o-transition:      all $time ease;
  transition:         all $time ease;
}

//transforms
@mixin translY($px){
  -o-transform: translateY($px);
  -ms-transform: translateY($px);
  -moz-transform: translateY($px);
  -webkit-transform: translateY($px);
  transform: translateY($px);
}
@mixin translX($px){
  -o-transform: translateX($px);
  -ms-transform: translateX($px);
  -moz-transform: translateX($px);
  -webkit-transform: translateX($px);
  transform: translateX($px);
}
@mixin rotate($px){
  -o-transform: rotate($px);
  -ms-transform: rotate($px);
  -moz-transform: rotate($px);
  -webkit-transform: rotate($px);
  transform: rotate($px);
}
@mixin scale ($px) {
  -webkit-transform: scale($px);
  transform: scale($px);
}


//filters
@mixin filter($px){
  -o-filter: blur($px);
  -ms-filter: blur($px);
  -moz-filter: blur($px);
  -webkit-filter: blur($px);
  filter: blur($px);
}
@mixin filter_grayscale($px){
  -o-filter: grayscale($px);
  -ms-filter: grayscale($px);
  -moz-filter: grayscale($px);
  -webkit-filter: grayscale($px);
  filter: grayscale($px);
}
@mixin bright($px){
  -o-filter: brightness($px);
  -ms-filter: brightness($px);
  -moz-filter: brightness($px);
  -webkit-filter: brightness($px);
  filter: brightness($px);
}

@mixin clr {
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    *zoom: 1;
  }
}
@mixin bsh($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
  //box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}

@mixin bradius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
//медиа-запросы
@mixin large{
  @media only screen and(min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and(min-width: 768px) {
    @content;
  }
}
@mixin tablet_max {
  @media only screen and(max-width: 768px) {
    @content;
  }
}
@mixin laptop{
 @media only screen and(max-width: 1024px) {
  @content;
}
}

@mixin mobile_l{
 @media only screen and(max-width: 426px) {
  @content;
}
}

@mixin mobile_m{
  @media only screen and (max-width: 375px) {
    @content;
  }
}

@mixin mobile_s{
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin smart_vert_hor{
  /* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    @content;
  }
}


/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
  /* стили */
}

@mixin smart_vert {
  /* Smartphones (вертикальная) ----------- */
  @media only screen and (max-width: 320px) {
    @content;
  }
}


/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* стили */
}

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* стили */
}

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* стили */
}

/* iPad 3**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */
}

@mixin notebooks  {
  /* Настольные компьютеры и ноутбуки ----------- */
  @media only screen  and (min-width: 1224px) {
    @content;
  }
}


/* Большие экраны ----------- */
@media only screen  and (min-width: 1824px) {
  /* стили */
}

/* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* стили */
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
  /* стили */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){
  /* стили */
}
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){
  /* стили */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){
  /* стили */
}
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){
  /* стили */
}